@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");

:root {
  --width: 400px;
  --gap: 1rem;
  --speed: 500ms;
}

.slider {
  margin-top: 3vh;
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  width: var(--width);
  height: calc(var(--width) * 0.6);
  position: absolute;
  z-index: 1;
  border-radius: 0.25rem;
  box-shadow: 0 12px 24px -6px rgba(0, 0, 0, 1);
  transition: left var(--speed), width var(--speed), height var(--speed),
    border-radius var(--speed), opacity var(--speed);
  transition-timing-function: ease-out;
  transform-origin: center;
  overflow: hidden;
  will-change: transform, opacity;

  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: 0;
    box-shadow: 0px 0px 50px 25px rgba(0, 0, 0, 0.25) inset;
    transition: box-shadow var(--speed);
    will-change: transform, opacity;
  }

  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
    filter: blur(0);
    &::after {
      box-shadow: 0px -50px 150px 50px rgba(0, 0, 0, 0.75) inset;
    }
  }

  &:nth-child(3) {
    left: 50%;
  }
  &:nth-child(4) {
    left: calc(50% + var(--width) + var(--gap));
    transition-delay: calc(var(--speed) * 0.2);
  }
  &:nth-child(5) {
    left: calc(50% + calc(var(--width) * 2) + calc(var(--gap) * 2));
    transition-delay: calc(var(--speed) * 0.4);
  }
  &:nth-child(6) {
    left: calc(50% + calc(var(--width) * 3) + calc(var(--gap) * 3));
    opacity: 0;
    transition-delay: calc(var(--speed) * 0.6);
  }
}

.content {
  width: min(30vw, 400px);
  position: absolute;
  left: 3rem;
  z-index: 1;
  transform: translateY(25%);
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
  opacity: 0;
  display: none;
  flex-direction: column;
  gap: 1rem;
  outline: 0;

  & * {
    outline: 0;
  }

  & .title {
    font-weight: 600;
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
  }

  & button {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.9);
    border: 0;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: background var(--speed), color var(--speed);
    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

.item:nth-of-type(2) .content {
  display: flex;
  animation: show var(--speed) ease-in-out calc(var(--speed) / 2) forwards;
}

@keyframes show {
  0% {
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.nav {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
  border-radius: 100vw;
  padding: 0.25rem;

  & .btn {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.9);
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background var(--speed), color var(--speed);

    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title {
      font-size: 1rem;
    }
    & .description {
      font-size: 0.7rem;
    }
    & button {
      font-size: 0.7rem;
    }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 170px);
    }
    &:nth-child(5) {
      left: calc(50% + 340px);
    }
    &:nth-child(6) {
      left: calc(50% + 510px);
      opacity: 0;
    }
  }
}

@media (width < 650px) {
  .content {
    & .title {
      font-size: 0.9rem;
    }
    & .description {
      font-size: 0.65rem;
    }
    & button {
      font-size: 0.7rem;
    }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 140px);
    }
    &:nth-child(5) {
      left: calc(50% + 280px);
    }
    &:nth-child(6) {
      left: calc(50% + 420px);
      opacity: 0;
    }
  }
}
