*{
  padding : 0;
  margin : 0;
  font-family: "Lato", sans-serif;
  box-sizing : border-box;
}
html,body{
  height : 100%;
  width : 100%;
}
body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: #b7b3b3;
  overflow-x : hidden;
  
}

::selection {
  background-color: rgb(167, 43, 216);
}

/* cursor starts */
.cursor{
  position: fixed;
  height:15px;
  width:15px;
  border-radius: 100%;
  z-index: 5;
  background-color: rgb(94, 1, 131);
  display: none;
}
/* cursor ends */


/* loading screen starts */
.loading-screen{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7.5vh;    
}
.loading-screen p{
    font-weight: 600;
    text-transform: uppercase;
    color : rgb(42, 42, 42);
    z-index:3;
}
.loading-screen img{
  position: absolute;
  height: 100vh;
  width: 100vh;
  object-fit: cover;
  z-index : 2;
}

#image1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 15;
}
/* loading-screen-ends */

/* page1 starts */
.page1{
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgb(10, 10, 10);
}
.pages{
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.lavender {
  color : rgb(123, 37, 157)
}
/* page1 starts */
.page1 {
  background-color: #000000;
  padding: 20px;
  /* overflow: hidden; */
}
.navigation {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.navigation ul {
  display: flex;
  list-style: none;
  font-weight: 300;
  gap: 1em;
  transition: all ease 0.5s;
}
.navigation ul li {
  height: 15px;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  overflow: visible;
  z-index: 4;
  color: rgb(138, 131, 131);
  
}
.navigation ul li span .top:hover{
  cursor: pointer;

}
.navigation ul li p:hover {
  color: rgb(133, 61, 162);
}
.navigation span {
  display: inline-block;
  overflow: hidden;
  height: 15px;
  line-height: 15px;
}
.navigation p{
  margin: 0;
  transition: transform 0.5s ease;
}
.navigation .top {
  transform: translateY(0);
}
.navigation .bottom {
  transform: translateY(15px);
}

.navigation li:hover .top {
  transform: translateY(-15px); 
}
.bottom{
  cursor: pointer;
}

.navigation li:hover .bottom {
  transform: translateY(-16px);
}

.page1-items{
  height: 80vh;
  width: 100vw;
  display: flex;
}

.circle {
  position: absolute;
  height: 27em;
  width:  25em;
  border-radius: 100%;
  background: linear-gradient(rgb(206, 71, 230),rgb(198, 119, 216),rgb(221, 188, 229));
  animation: rotateCircle 5s linear infinite; 
  z-index: 1;
  filter : blur(100px);
  left: 25em;
  top: 25vh;
}


@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page1-headings{
  display: flex;
  flex-direction: column;
  z-index: 5;
  color: white;
  margin-left: 20vw;
  justify-content: center;  /* padding-top: 1vh; */
  line-height: 6em;
}
.page1-headings h1{
  font-size: 5em;
  color: #b7b3b3;
  opacity: 0;
}

.page1-headings h1:nth-child(1){
  margin-left : 2.5em;
}


.page1-headings h1:nth-child(2){
  font-size:7em;
  margin-left : -.5em;
}
.page1-headings h1:nth-child(2) img{
  height: 10vw;
  margin-left: .2em;
  position: absolute;
}
.page1-headings h1:nth-child(3){
  /* margin-left: 12vw; */
  font-size: 6em;
}

.page1-asset1{
  position: absolute;
  margin-left: 5em;
  margin-top: 7em;
  height: 4em;
  width: 5em;
  z-index: 5;
}
.page1-asset1 img{
  height:100%;
  width: 100%;
  object-fit: cover;

}
.first{
  font-size: 5em;
}
/* page1 ends */


/* page 2 starts */
.page2{
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0); 
  color: #b7b3b3;
}
.page2-about{
  position: absolute;
  left: 0;
  height: 100%;
  width: 60%;
  padding: 1em;
  padding-top: 30vh;
  color: #b7b3b3;

}
.page2-about h1{
  opacity: 0;
  font-size: 5em;
  margin-left: 1em;
  white-space: nowrap;
}
.page2-about p{
  font-size: 1.2em;
  color: #b7b3b3;
  padding-left: 10em;
}

.page2-image{
  position: absolute;
  height: 30em;
  width: 25%;
  right: 10%;
  border-radius: 20px;
  overflow: hidden;
}
.page2-image img{
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 3;
}
.dynamic-text{
  position: relative;
  height: 80%;
  width: 50vw;
  padding: .5em;
  margin-left: -5.8em;
}
.page2-gif{
  position: absolute;
  height: 7em;
  width:7em;
  right: 7.3vw;
  top: 76vh;
  animation: rotateScroll 8s linear infinite ;
  cursor : pointer;
}
.page2-gif img:hover{
  transform : scale(1.2);
}
@keyframes rotateScroll {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.page2-gif img{
  height:100%;
  width: 100%;
  object-fit: cover;
  transition: all ease .3s;

}
/* page 2 ends */

/* page3 starts */
.page3{
  position: relative;
  height: 100vh;
  display: flex;
  padding: 2em;
  flex-direction: column;
  overflow: hidden;
  /* background-color: white; */
} 
.page3-heading h1 span{
  display: inline-block;
  justify-self: flex-end;
  height: fit-content;
  width: fit-content;
  font-size: 2.4em;
}

.page3-heading h1 i span{
  color: purple;
}

.page3-content{
  display: flex;
  flex-direction: column;
  height : 100vh;
  overflow: hidden;
}

.page3-content-part1{
  height: 20vh;
  width: 100%;
  background-color:red;
}

.page3-content-part2{
  height: 20vh;
  width: 100%;
  background-color:skyblue
}
.page3-content-part3{
  height: 20vh;
  width: 100%;
  background-color:rgb(143, 25, 207)
}
.page3-content-part4{
  height: 20vh;
  width: 100%;
  background-color:rgb(171, 113, 46)
}




/* page3 ends */

/* page4 starts */
.page4 {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
}
.page4 h1{
  position: absolute;
  left: 3.9vw;
  z-index: 99;
  top: 1vh;
  font-size: 3em;
}
/* page 4 ends */


/* page 5 starts */
.page5{
  height: 100vh;
  width: 100vw;
}
/* page 5 ends */